.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.navigation-header {
  display: flex;
  margin-left: 93px;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.navigation-header .navigation-header__item + .navigation-header__item {
  margin-left: 50px;
}
.navigation-header__link {
  .navigation-header &:focus::after,
  .navigation-header &:hover::after,
  .navigation-header &:active::after {
    display: block;
    transform: scalex(1);
  }
  .navigation-header &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--link);
    bottom: 0;
    border-radius: 2px;
    transform: scalex(0);
    transition-property: transform;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cibic-animation);
  }
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.navigation-header .navigation-header__link {
  display: block;
  position: relative;
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
}
.navigation-header .navigation-header__link {
  display: block;
  position: relative;
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
}
.header-contacts {
  display: flex;
  margin-right: 15px;
  margin-left: auto;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.header-contacts .header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}
.header-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--section-comand-portfolio-navig-text);
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.header-contacts .header-contacts__link {
  display: flex;
  align-items: center;
}
.header-contacts__mail-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    fill: var(--link);
  }
}
.header-contacts__tell-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--link);
  }
}

.logo1 {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: 15px;
  color: var(--style-footer-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.logo2 {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
