.page-footer {
  background-color: var(--footer-background-color);
  height: 603px;
  @media screen and (min-width: 768px) {
    height: 463px;

    }
    @media screen and (min-width: 768px) {
      height: 252px;
  
      }



  .container {
    display: block;

  }
  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
    }
}
.page-footer__box {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;

    }
    @media screen and (min-width: 1200px) {
      width: 206px;
      }

}
.page-footer__area {
  @media screen and (min-width: 1200px) {
     display: flex;
    
      }
}
// @media screen and (min-width: 480px) {
//   width: 480px; 
//  }
//  @media screen and (min-width: 768px) {
//   width: 768px; 
//  }
//  @media screen and (min-width: 1200px) {
//   width: 1200px;
//  }

.section-footer {
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding-left: 76px;
   }
   @media screen and (min-width: 1200px) {
    padding-left: 0;
    text-align: left;
   }

}
.section-footer__logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  color: var(--style-footer-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
line-height: 1.16;
  text-decoration: none;
}
.section-footer__logo2 {
  color: var(--text-hero-footer);
  font-size: 24px;
line-height: 1.16;
}
.footer-address {
  display: block;
 
  width: 232px;
  height: 79px;
  font-style: normal;
  margin-right: auto;
  margin-left: auto;
}
.footer-address--no-padding-margin {
  margin: 0;
  padding: 0;
}
.footer-address__item + .footer-address__item {
  padding-top: 9px;
}
.footer-address__item {
  font-size: 14px;
  line-height: 1.71;
text-align: center;
letter-spacing: 0.03em;
@media screen and (min-width: 1200px) {
  text-align: left;
 }
}
.footer-address__map {
  line-height: 1.71;
  color: var(--text-hero-footer);
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.footer-address__contacts {
  color: var(--navig-footer);
  font-size: 14px;
  line-height: 1.71;
text-align: center;
letter-spacing: 0.03em;
  
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.section-footer__box {
  display: block;
  width: 206px;
padding-top: 60px;
padding-bottom: 60px;
margin-left: auto;
margin-right: auto;
@media screen and (min-width: 768px) {
  margin-right: 89px;
  margin-bottom: 60px;
 }
 @media screen and (min-width: 1200px) {
  margin-left: 70px;
  margin-right: 0;
 }
}
.social-text-footer {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 14px; 
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
  @media screen and (min-width: 1200px) {
    text-align: left;
    
        }
}
.footer-social {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1200px) {
width: 206px;

    }
}
.footer-social__item {
  display: block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social__link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    background-color: var(--link);
  }
}
.footer-social__icon {
  fill: var(--primary-background-color);
}
// .no-padding-margin-footer {
//  padding-left: auto;
//  padding-right: auto;
// }
