.page-header {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 738px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.navigation-header {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.navigation-header .navigation-header__item + .navigation-header__item {
  margin-left: 50px;
}
.navigation-header__link {
  .navigation-header &:focus::after,
  .navigation-header &:hover::after,
  .navigation-header &:active::after {
    display: block;
    transform: scalex(1);
  }
  .navigation-header &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--link);
    bottom: 0;
    border-radius: 2px;
    transform: scalex(0);
    transition-property: transform;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cibic-animation);
  }
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.navigation-header__link {
  display: block;
  position: relative;
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
}
.header-contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.header-contacts .header-contacts__item + .header-contacts__item {
  @media screen and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.header-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: var(--section-comand-portfolio-navig-text);
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.header-contacts .header-contacts__link {
  display: flex;
  align-items: center;
}
.header-contacts__mail-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    fill: var(--link);
  }
}
.header-contacts__tell-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--link);
  }
}

.logo1 {
  display: inline-block;
  font-size: 24px;
  line-height: 1.16;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: auto;
  color: var(--style-footer-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.logo2 {
  font-size: 24px;
  line-height: 1.16;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.page-header__icon {
  width: 40px;
  height: 40px;
  transition-property: fill;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    fill: var(--link);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.page-header__button {
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.page-header__menu {
  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.header-modalka {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  padding: 48px 40px 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-modalka__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-modalka.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header-modalka__close {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;
  padding: 0;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-modalka__icon {
  width: 40px;
  height: 40px;
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    fill: var(--link);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navigation-modalka {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navigation-modalka__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.navigation-modalka__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-box {
  display: inline-block;
  vertical-align: bottom;
}

.modalka-contacts {
  display: block;
}

.modalka-contacts__mail {
  display: block;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--section-comand-portfolio-navig-text);
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.modalka-contacts__tel {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--link);
  margin-bottom: 32px;
}
.header-social {
  display: flex;
}
.header-social__link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--link);
  letter-spacing: 0.02em;
}
.header-social__list {
  display: inline-block;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    border-right: none;
    padding-left: 10px;
  }
}
