.page-footer {
  background-color: var(--footer-background-color);
  .container {
    display: flex;
  }
}

.section-footer {
  padding-bottom: 60px;
  padding-right: 70px;
  margin: 0;
}
.section-footer__logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: 15px;
  color: var(--style-footer-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.section-footer__logo2 {
  color: var(--text-hero-footer);
}
.footer-address {
  display: block;
  width: 231px;
  height: 81px;
  font-style: normal;
  margin-right: auto;
  margin-left: 15px;
}
.footer-address--no-padding-margin {
  margin: 0;
  padding: 0;
}
.footer-address__item + .footer-address__item {
  padding-top: 9px;
}
.footer-address__map {
  line-height: 1.71;
  color: var(--text-hero-footer);
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.footer-address__contacts {
  color: var(--navig-footer);
  line-height: 1.71;
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    color: var(--link);
  }
}
.social-text-footer {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 72px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.footer-social {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}
.footer-social__item {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  &:not(last-child) {
    margin-right: 10px;
  }
}
.footer-social__link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cibic-animation);
  &:hover,
  &:focus {
    background-color: var(--link);
  }
}
.footer-social__icon {
  fill: var(--primary-background-color);
}
.no-padding-margin-footer {
  padding: 0;
  margin: 0;
}
