.section-company {
  @media screen and (max-width: 479px) {
    margin: 0;
  }
}
.section-company__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--primary-text-color);
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
  }
}
.section-company__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 480px) {
    width: 450px;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    width: 738px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
    flex-wrap: nowrap;
  }
}
.section-company__item {
  display: flex;
  width: 210px;
  height: 92px;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}
.section-company__icon {
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);

  &:hover,
  &:focus {
    fill: var(--link);
    border-color: var(--link);
  }
}
