.section-company {
  @extend .container;
}
.section-company__title {
  @extend .section-second__title;
}
.section-company__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.section-company__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 210px;
  height: 92px;
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (min-width: 480px) {
    width: 226px;
    height: 92px;
   }
   @media screen and (min-width: 768px) {
    width: 170px;
    height: 92px;
   }
   @media screen and (min-width: 1200px) {
 
   }
}
.section-company__icon {
  max-width: 210px;
  height: 92px;
  fill: #afb1b8;
  
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  transition-property: border-color, fill;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);

  &:hover,
  &:focus {
    fill: var(--link);
    border-color: var(--link);
  }
}
