.page-modalka {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cibic-animation);
  z-index: 1;
}
.page-modalka.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modalka-windows {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.9) translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
}
.page-modalka.is-hidden .modalka-windows {
  transform: scale(0.9) translate(-50%, -50%);
}
.modalka-windows__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  margin-bottom: auto;
}
.modalka-windows__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-text-color);
  &:hover,
  &:focus {
    fill: var(--link);
  }
}
.modalka-info {
  display: block;
  padding: 0px 40px 40px 40px;
}
.modalka-info__text {
  display: block;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.modalka-info__form {
  position: relative;
  display: block;
  padding-bottom: 10px;
  transition-property: border-color;
}
.modalka-info__name {
  display: block;
  text-align: left;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--section-comand-portfolio-navig-text);
}
.modalka-info__comment {
  display: block;
  padding: 12px 16px 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modalka-info__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:focus {
    outline: none;
  }
  &:focus:not(:placeholder-shown) {
    border: 1px solid var(--link);
  }
}
.modalka-info__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
}
.modalka-info__input:focus:not(:placeholder-shown) + .modalka-info__icon {
  fill: var(--link);
}
.modalka-info__conditions {
  position: absolute;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--section-comand-portfolio-navig-text);
  appearance: none;
}
.modalka-info__chek {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  border: 3px solid black;
  border-radius: 2px;
  top: 4.5px;
  width: 16px;
  height: 15px;
  margin-top: 20px;
}
.modalka-info__conditions:checked + .modalka-info__chek {
  top: 4.5px;
  width: 16px;
  height: 15px;
  background-color: var(--link);
  border-radius: 4px;
  border-color: var(--link);
}
.modalka-info__agreement {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--section-comand-portfolio-navig-text);
}
.modalka-info__download:hover {
  border-bottom: 0.5px solid var(--link);
}
.modalka-info__button {
  margin-top: 20px;
  display: inline-block;
  font-family: inherit;
  text-align: center;
  color: var(--text-hero-footer);
  background-color: var(--link);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cibic-animation);
  &:hover {
    color: var(--hero-hover);
  }
}
textarea {
  transform: border-color;
  transition-duration: var(--text-hero-footer);
  transition-timing-function: var(--cibic-animation);
  &:focus {
    outline: none;
    border-color: var(--link);
  }
}
