.section-recomendation {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
}
.section-recomendation__item {
  width: 270px;
}
.section-recomendation__list {
  display: block;
  width: 270px;
  background-color: var(--command-background);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.section-recomendation__icon {
  display: block;
  width: 70px;
  height: 70px;
  fill: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
}
.section-recomendation__title {
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-recomendation__text {
  color: var(--section-comand-portfolio-navig-text);
  line-height: 1.71;
}
