h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
