:root {
  --primary-text-color: #212121;
  --hero-hover: #212121;
  --primary-background-color: #ffffff;
  --text-hero-footer: #ffffff;
  --footer-background-color: #2f303a;
  --link: #2196f3;
  --style-footer-logo: #2196f3;
  --navig-footer: rgba(255, 255, 255, 0.6);
  --button-portfolio: #f5f4fa;
  --command-background: #f5f4fa;
  --section-comand-portfolio-navig-text: #757575;
  --time-animation: 250ms;
  --cibic-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
